*{
    box-sizing: border-box;
}

.border{
    display: flex;
    width: 100vh;
    margin: auto;
    padding:2%
    
}
.container {
  min-width: 80%;
  min-height: 100vh;  
}


.logo{

}

.text_box{

}
.bottom_panel{
    display: flex;
    flex-direction: row;
}

.three_panel{
    width: 33%;
    padding: 1%;
}

